@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import 'menu.css';
@import 'footer.css';
@import 'contact.css';
@import 'blogIndex.css';

body {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    background-color: #02A676;
    color: white;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, a, article,
footer, header, menu,
section {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

#banner {
    width:100%;
    height: 400px;
    text-align: center;
    padding-top: 250px;
}

/*=====================================================**
**                  INDEX                             **
**=====================================================*/
#articles {
    height:100%;   
    
}

#first {
    height:100%;
    display: flex;
}
#box_1 {
    background-color: #021B26;
    width: 30%;
    height: 400px;

    
  }

#box_2 {
    background-color: #007369;
    width: 70%;
    height: 400px;
    color: black !important;
    
  }
#second {
    height:100%;
    display: flex;
}
#box_3 {
    background-color: #003940;
    width: 40%;
    height: 400px;
    padding: 50px;
    border-radius: 0.1em;
  }
#box_contact {
    background-color: #00BAB5;
    width: 60%;
    height: 400px;
    padding: 50px;
    border-radius: 0.1em;
  }


#third {
    height:100%;
    display: flex;
}
#box_4 {
    background-color: #216873;
    width: 33%;
    height: 300px;
    
  }

#box_5 {
    background-color: #002129;
    width: 34%;
    height: 300px;
    
  }

#box_6 {
    background-color: #007369;
    width: 33%;
    height: 300px;
    color: black;
    
  }
.zoom {
    padding: 50px;
    transition: transform .4s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 0.1em;

  }
  
  .zoom:hover {
    transform: scale(1.1); 
  }
/*=====================================================**
**                  ESS                                **
**=====================================================*/

#ess {
  height:100%;
  display: flex;
  background-color: #003940;
}
#box_7 {
  width: 40%;
  height: 400px;
}
#box_8 {
  width: 60%;
  height: 210px;
}
#box_9 {
  width: 60%;
  height: 210px;
}
#box_10 {
  width: 40%;
  height: 210px;
}
.ess_pic img{
filter: brightness(80%);
-webkit-filter: brightness(80%);
border-radius: 1%;
}

.ess-head {
  background-color: #003940;
  text-align: center;
  padding-top: 10%;
  padding-left: 5%;
  border-radius: 1%;
  width: 60%;
  height: 210px;  
}
.ess-cont{
  background-color: #003940;
  text-align: center;
  padding: 5%;
  border-radius: 1%;
  width: 40%;
  height: 210px;  
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
  }
  li {
  margin-bottom:15px;/* à adapter */
  }
/*=====================================================**
**                  PRESTATIONS                                **
**=====================================================*/
body {
  padding: 0;
  margin: 0;
}
.universe {
  display: flex;
  height: 100vh;
}
.theme {
  transition: 0.5s;
  flex-grow: 2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.details {
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  background: #021B26;
  transform: translateX(-10px);
}
.theme:after {
  content: '';
  background-color: black;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
}
.theme:hover {
  flex-grow: 3
}
.theme:hover:after{
  opacity: 0;
}
.theme:hover > .details {
  transform: translateX(0);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  text-align: justify;
}

.theme:nth-child(1){
  background-image: url('road_00.png')
}
.theme:nth-child(2){
  background-image: url('road_01.png')
}
.theme:nth-child(3){
  background-image: url('road_02.png')
}
.theme:nth-child(4){
  background-image: url('road_03.png')
}
.theme:nth-child(5){
  background-image: url('road_04.png')
}

#contact {

border-radius: 0.1em;
}

/*=====================================================**
**                  BLOG                            **
**=====================================================*/

.blogPrez {

  background-color: rgb(12, 32, 41);
  height: auto;
  padding: 30px;
  margin: 0 auto;
  

}
/*=====================================================**
**                  MEDIA QUERIES                      **
**=====================================================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background: red;
    font-size: 15px;
    color: black;
  }
  #first {
    display: block;
  }
  #box_1 {
    width: 100%;
    height: 200px;
  }
  #box_2 {
    width: 100%;
    height: 200px;
  }
  #second {
    height:100%;
    display: block;
}
#box_3 {

    width: 100%;
    height: 200px;
  }
#box_contact {
    width: 100%;
    height: 450px;
    padding: 50px;
    border-radius: 0.1em;
  }
#third {
    height:100%;
    display: block;
}
#box_4 {
    width: 100%;
    height: 200px; 
  }

#box_5 {
    width: 100%;
    height: 200px;    
  }

#box_6 {
    width: 100%;
    height: 200px;
    color: black;  
  }
  .col-25, .col-75, input[type=submit] {
    width: 70%;
    margin-top: 0;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: green;
  
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: blue;
  
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 body {
   background: orange;
  
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: pink;
  
  }
}
}