
#open-menu {
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-size: 60px;
	margin-top: 10px;
	border-radius: 20%;
  left: -300px;
  position: absolute;
  width:70px;
  height: 70px;
	transform: translateX(320px);
  cursor: pointer;	
}
#block-menu {
	width: 340px;
	height: 555px;
	background-color: navy;
}

#lateral-menu {
  position: absolute;
  left: -10%;
  top: 80px;
  width: 50px;
  height: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  transform: translateX(-85px);
}


#open-menu:hover + #lateral-menu{
  transition: all 0.6s ease-in-out;
  transform: translateX(250%);
}

#lateral-menu:hover {
  transition: all 0.6s ease-in-out;
  transform: translateX(250%);
}

#lateral-menu .menu-item {
  background:navy;
  position: relative;
	padding: 15px;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

.icons {
  display: inline-block;
  line-height: 0.6;
  direction: ltr;
	color: white;

	padding: 20px;
  margin-left: 25px;
}
li i {
	font-size:1px;
}
li:hover i{
		color: rgba(23,170,114,1);
}
