.navbar
{
	padding:0;
  margin:0;
  text-align:center;
  display:inline-block;
  position:fixed;
  z-index: 1;
  top:0px;
  height:100%;
  width:60px;
	background: #43464B; 
	color: white;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar:hover 
{
  width:140px;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size:16px; 
  margin-top: 380px;
  margin-left: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  writing-mode : sideways-lr;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}


.subnav:hover .subnav-content {
  display: block;
}
#home {
	padding-top: 100px;
}
#es {
	padding-top: 50px;
}
#services {
	padding-top: 50px;
}
#projets {
	padding-top: 50px;
}
#partenariats {
	padding-top: 50px;
}
#equipe {
	padding-top: 50px;
}
#blog {
	padding-top: 50px;
}
